<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CORE Web Services">
  <test thread-count="5" name="CORE - Continuous Integration">
    <classes>
      <class name="CORE.CustomerInfo.GetCustomerInfoTest"/>
      <class name="CORE.CustomerInfo.GetFamilyMembersForTest"/>
      <class name="CORE.CustomerInfo.GetFullFamilyForTest"/>
      <class name="CORE.CustomerInfo.SearchMembers"/>      
      <class name="CORE.PackageService.GetPackageDetailsTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
