<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CORE Web Services - Continuous Integration">

  <test thread-count="5" name="Full Suite">
    <classes>
    <class name="resources._preTestAnnouncement" />
	<class name="agreementInfo.GetCustomerRelatedAgreements"/>
	<class name="changeRequests.GetPersonalInformation"/>
	<class name="changeRequests.GetStoredPaymentAccounts"/>  
	<class name="changeRequests.GetSubmissionReasonsForSubmission"/> 	
	<class name="changeRequests.UpdatePersonalInformation"/> 
    <class name="corporateInfo.CompanyHasModuleGrant"/>
    <class name="corporateInfo.GetActiveClubs"/>
    <class name="corporateInfo.GetBranding"/>
    <class name="corporateInfo.GetBrandingLogo"/>
    <class name="corporateInfo.GetChangeRequestTermsAndConditions"/>
    <class name="corporateInfo.GetClubAcceptedCreditCards"/>
    <class name="corporateInfo.GetClubInfo"/>
    <class name="corporateInfo.GetCompanyName"/>
    <class name="corporateInfo.GetExternalLinks"/>
    <class name="corporateInfo.GetGoogleAnalyticsId"/>
    <class name="corporateInfo.GetInterestConfiguration"/>
    <class name="corporateInfo.GetRequiredFields"/>
    <class name="corporateInfo.Vita_GetBusinessIntelligenceConfiguration"/>
    <class name="corporateInfo.Vita_SetBusinessIntelligenceConfiguration"/>
    <class name="customerAccounting.GetAccountHistory"/>
    <class name="customerAccounting.GetBillingDeclinesHistories"/>
    <class name="customerAccounting.GetCustomerAccountBalance"/>
    <class name="customerAccounting.GetCustomerAccountValue"/>
    <class name="customerAccounting.GetCustomerCurrentBalance"/>
    <class name="customerAccounting.GetInvoiceChargeReceiptDetail"/>
    <class name="customerAccounting.GetInvoiceChargeReceiptDetailForReceiptNumber"/>
    <class name="customerAccounting.GetLastPaymentDateForCustomer"/>
    <class name="customerAccounting.GetMemberBillingDeclines"/>
    <class name="customerAccounting.GetMembersAccountBalancesPastDue"/>
    <class name="customerAccounting.GetOutstandingInvoices"/>
    <class name="customerAccounting.GetPastDueBalancesByCustomer"/>
    <class name="customerAccounting.GetPaymentReceiptDetail"/>
    <class name="customerAccounting.GetPaymentReceiptDetailForReceiptNumber"/>
    <class name="customerAccounting.GetStoredPaymentAccountsForCustomer"/>
    <class name="customerAccounting.identifyCreditCardType"/>
    <class name="customerAuth.AuthorizeCustomerTest"/>
    <class name="customerInfo.GetCustomerInfo"/>
    <class name="customerInfo.GetFamilyMembersForTest"/>
    <class name="customerInfo.GetFullFamilyForTest"/>
    <class name="customerInfo.GetInformationForCustomers"/>
    <class name="customerInfo.GetMemberAccessibleClubs"/>
    <class name="customerInfo.GetMemberActions"/>
    <class name="customerInfo.SearchMembers"/>
    <class name="customerInfo.UpdateCustomerInterests"/>  
    <class name="customerInfo.UpdateCustomerName"/>
    <class name="customerInfo.UpdateHeadOfHousehold"/>
    <class name="customerInfo.UpdatePreferredPhoneNumber"/>   
    <class name="messagingService.SendCustomerClassEnrollmentConfirmationEmailTest"/>
    <class name="messagingService.SendCustomerCourseEnrollmentConfirmationEmailTest"/>
    <class name="messagingService.SendFamilyClassEnrollmentConfirmationEmailTest"/>
    <class name="messagingService.SendFamilyCourseEnrollmentConfirmationEmailTest"/>
    <class name="messagingService.SendClassStandbyPromotionEmail"/>
    <class name="packageService.GetPackage"/>
    <class name="packageService.GetPackageDetails"/>
    <class name="packageService.GetAvailablePackagesByClub"/>
    <class name="packageService.GetAvailablePackagesByClubOnlineBypass"/>
    <class name="unenrollmentService.GetUnenrollmentEligibility"/>
    <class name="enrollmentService.DeleteEnrollment"/>
    <class name="enrollmentService.EnrollInClass"/>
    <class name="enrollmentService.EnrollInClassStandby"/>
    <class name="enrollmentService.EnrollInCourse"/>
    <class name="enrollmentService.EnrollInCourseStandby"/>
    <class name="enrollmentService.PromoteStandbyEnrollmentsForClass"/>
    <class name="enrollmentService.PromoteStandbyEnrollmentsForCourse"/>
    </classes>
  </test>
</suite>
