<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="CORE Web Services - Continuous Integration">

  <test thread-count="5" name="Full Suite">
    <classes>
    <class name="resources._preTestAnnouncement" />
	<class name="agreementInfo.GetCustomerRelatedAgreements"/>
	<class name="agreementInfo.GetAgreementCategories"/>
	<class name="agreementInfo.GetMembershipPlans"/>
	<class name="agreementInfo.GetMembershipPlanDetails"/>
	<class name="changeRequests.GetPersonalInformation"/>
	<class name="changeRequests.GetStoredPaymentAccounts"/>  
	<class name="changeRequests.GetSubmissionReasonsForSubmission"/> 	
	<class name="changeRequests.UpdatePersonalInformation"/> 
    <class name="corporateInfo.CompanyHasModuleGrant"/>
    <class name="corporateInfo.GetActiveClubs"/>
    <class name="corporateInfo.GetBranding"/>
    <class name="corporateInfo.GetBrandingLogo"/>
    <class name="corporateInfo.GetChangeRequestTermsAndConditions"/>
    <class name="corporateInfo.GetClubAcceptedCreditCards"/>
    <class name="corporateInfo.GetClubInfo"/>
    <class name="corporateInfo.GetCompanyName"/>
    <class name="corporateInfo.GetExternalLinks"/>
    <class name="corporateInfo.GetGoogleAnalyticsId"/>
    <class name="corporateInfo.GetInterestConfiguration"/>
    <class name="corporateInfo.GetRequiredFields"/>
    <class name="corporateInfo.Vita_GetBusinessIntelligenceConfiguration"/>
    <class name="corporateInfo.Vita_SetBusinessIntelligenceConfiguration"/>
    <class name="corporateInfo.GetBannerMessagesForCustomer"/>
    <class name="customerAccounting.GetAccountHistory"/>
    <class name="customerAccounting.GetBillingDeclinesHistories"/>
    <class name="customerAccounting.GetCustomerAccountBalance"/>
    <class name="customerAccounting.GetCustomerAccountValue"/>
    <class name="customerAccounting.GetCustomerCurrentBalance"/>
    <class name="customerAccounting.GetInvoiceChargeReceiptDetail"/>
    <class name="customerAccounting.GetInvoiceChargeReceiptDetailForReceiptNumber"/>
    <class name="customerAccounting.GetLastPaymentDateForCustomer"/>
    <class name="customerAccounting.GetMemberBillingDeclines"/>
    <class name="customerAccounting.GetMembersAccountBalancesPastDue"/>
    <class name="customerAccounting.GetOutstandingInvoices"/>
    <class name="customerAccounting.GetPastDueBalancesByCustomer"/>
    <class name="customerAccounting.GetPaymentReceiptDetail"/>
    <class name="customerAccounting.GetPaymentReceiptDetailForReceiptNumber"/>
    <class name="customerAccounting.GetStoredPaymentAccountsForCustomer"/>
    <class name="customerAccounting.identifyCreditCardType"/>
    <class name="customerAuth.AuthorizeCustomerTest"/>
    <class name="customerAuth.AuthenticateCustomer"/>
    <class name="customerInfo.AddMemberNote"/>
    <class name="customerInfo.GetCustomerInfo"/>
    <class name="customerInfo.GetFamilyMembersForTest"/>
    <class name="customerInfo.GetFullFamilyForTest"/>
    <class name="customerInfo.GetInformationForCustomers"/>
    <class name="customerInfo.GetMemberAccessibleClubs"/>
    <class name="customerInfo.GetMemberActions"/>
    <class name="customerInfo.SearchMembers"/>
    <class name="customerInfo.UpdateCustomerInterests"/>  
    <class name="customerInfo.UpdateCustomerName"/>
    <class name="customerInfo.UpdateHeadOfHousehold"/>
    <class name="customerInfo.UpdatePreferredPhoneNumber"/>   
    <class name="messagingService.SendCustomerClassEnrollmentConfirmationEmailTest"/>
    <class name="messagingService.SendCustomerCourseEnrollmentConfirmationEmailTest"/>
    <class name="messagingService.SendFamilyClassEnrollmentConfirmationEmailTest"/>
    <class name="messagingService.SendFamilyCourseEnrollmentConfirmationEmailTest"/>
    <class name="messagingService.SendClassStandbyPromotionEmail"/>
    <class name="messagingService.SendCourseStandbyPromotionEmail"/>
    <class name="messagingService.SendCustomerClassUnenrollmentEmail"/>
    <class name="messagingService.SendCustomerCourseUnenrollmentEmail"/>
     <class name="messagingService.SendAppointmentCancellationConfirmations"/>
    <class name="packageService.GetPackage"/>
    <class name="packageService.GetPackageDetails"/>
    <class name="packageService.GetAvailablePackagesByClub"/>
    <class name="packageService.GetAvailablePackagesByClubOnlineBypass"/>
    <class name="unenrollmentService.GetUnenrollmentEligibility"/>
    <class name="enrollmentService.DeleteEnrollment"/>
    <class name="enrollmentService.EnrollInClass"/>
    <class name="enrollmentService.EnrollInClassStandby"/>
    <class name="enrollmentService.EnrollInCourse"/>
    <class name="enrollmentService.EnrollInCourseStandby"/>
    <class name="enrollmentService.PromoteStandbyEnrollmentsForClass"/>
    <class name="enrollmentService.PromoteStandbyEnrollmentsForCourse"/>
    <class name="enrollmentService.GetAvailableClasses"/>
    <class name="enrollmentService.GetAvailableCourses"/>
    <class name="enrollmentService.GetClass"/>
    <class name="enrollmentService.GetCourse"/>
    <class name ="TransactionProcessing.GetInvoicingInformation"/>
    <class name = "scheduling.GetCustomerSchedule"/>
    <class name = "scheduling.CancelAppointment"/>
    <class name = "scheduling.CancelAppointmentByAppointmentId"/>
    <class name = "scheduling.GetAppointmentInfo_Group_HOH"/>
    <class name = "scheduling.GetAppointmentInfo_Group_Primary"/>
    <class name = "scheduling.GetAppointmentInfo_SingleMember_HOH"/>
    <class name = "scheduling.GetAppointmentInfo_SingleMember_Primary"/>
    <class name = "scheduling.ScheduleAppointment"/>
    <class name = "bookView.GetActiveBooksByResourceType"/>
    <class name = "bookView.GetAvailableResourceTypesByClub"/>
    <class name = "bookView.GetBookAvailability"/> 
    <class name = "bookView.GetBookAvailabilityCalendar"/> 
    <class name = "bookView.GetProductByBook"/>  
    <class name = "bookView.GetResourceTypeAvailability"/>  
    <class name = "scheduling.CancelAppointmentByAppointmentId"/>
    <class name = "scheduling.GetAppointmentEligibility"/>
    <class name = "accountHistory.GetTransactionSummary"/>
    <class name = "accountHistory.GetTransactionSummary1"/>
    <class name = "accountHistory.GetAccountSummary"/>
    <class name = "accountHistory.GetInvoiceDetails"/>
    <class name = "accountHistory.GetPaymentDetails"/>
    <class name = "waivers.GetFamilyNeedDob"/>
    </classes>
  </test>
</suite>
